.header-img {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: @bg-blue-under;
  background-position: center;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
