.hotel-search {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 48px;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding-top: 55px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 65px;
  }
}

.hotel-search__title {
  display: block;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

// в макете явно видно что без <br> никак, а использовать его здесь нельзя,
// с другим текстом может быть кривой перенос
.hotel-search__text {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.hotel-search__button {
  &:hover {
    background-color: @bg-blue-hover;
  }

  &:active {
    background-color: @bg-blue-active;
    color: rgba(255, 255, 255, 0.3);
  }
}
