.main-footer {
  box-sizing: border-box;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    // padding-top: 78px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    // padding-top: 119px;
  }
}

.main-footer__hashtag {
  display: block;
  font-size: 21px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    width: 256px;
    margin: 0;
    padding-top: 10px;
    // почему-то не работает
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 400px;
    padding-right: 28px;
  }
}

.main-footer__social {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;

  line-height: 26px;
  color: inherit;

  @media (min-width: @tablet-width) {
    width: 256px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 400px;
    padding-left: 34px;
  }
}

.main-footer__copyright-text {
  margin-right: 13px;
}
