.menu-list {
  list-style: none;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

// есть несовпадение в PixelPerfect, но не критично
.menu-list__item {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding: 15px 0;
    margin: 0 23px;
    width: 105px;
  }

  @media (min-width: @desktop-width) {
    // margin: 0 23px;
    width: 190px;
  }
}

.menu-list__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.menu-list__item:nth-child(3n) {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.menu-list__link {
  display: block;
  box-sizing: border-box;

  padding: 8px 0;

  color: @font-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;

  background-color: @bg-blue;

  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: @bg-blue-hover;
  }

  &:active {
    background-color: @bg-blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;

    color: @font-black;
    font-size: 14px;
    line-height: 26px;

    background-color: white;
    box-shadow: none;

    &:hover {
      background-color: inherit;
      color: @bg-blue;
    }

    &:active {
      background-color: inherit;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.menu-list__link--shadow {
  box-shadow: inset 0 -5px 3px -3px rgba(0, 0, 0, 0.2);

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}
