.photo__wrapper {
  box-sizing: border-box;
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.photo__link {
  width: 100%;
}

.photo__image {
  display: block;
  width: 100%;
}

.photo__info {
  padding-bottom: 16px;
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: @bg-gray-photo;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    color: @font-white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__info-wrapper {
  margin-left: 20px;
}

.photo__caption {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.photo__autor {
  text-transform: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.photo__like {
  color: inherit;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: 20px;
  }
}

.photo__icon {
  fill: #b2b2b2;

  @media (min-width: @desktop-width) {
    fill: @font-white;
  }
}

.photo__count {
  margin-left: 11px;
}
